@import '~bootstrap/scss/bootstrap';
@import './fonts.scss';
@import './insta.scss';
@import './markdown.scss';
@import './masthead.scss';
@import './nav.scss';
@import './typo.scss';
@import './info.scss';
@import './map.scss';

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form {
  margin-bottom: 50px;
}

.footer {
  margin-top: 50px;
  background-color: $gray-500;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .contrast-bg h1 {
    display: inline-block;
  }
}

.contrast-bg {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 10px;
  display: inline-block;
  h1 {
    display: table-caption;
  }
}

@media (min-width: 500px) {
  .contrast-bg {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 30px;
    h1 {
      display: inline-block;
    }
  }
}
