.masthead {
  width: calc(100vw);
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .masthead {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .masthead {
    height: 500px;
  }
}